.downloads-info-section {
  padding: 2em 1em;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--background-primary);
}

.section-title {
  font-size: 2.441em;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tabs-container {
  background: var(--background-secondary);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.tabs {
  display: flex;
  background: var(--background-primary);
}

.tab {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover,
.tab.active {
  background: var(--accent);
  color: var(--button-text);
  font-weight: bold;
}

.tab-content {
  padding: 1.5em;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-content-item {
  color: var(--text-secondary);
  margin-bottom: 0.5em;
  line-height: 1.5;
  font-size: 1rem;
  position: relative;
  padding-left: 1em;
}

.tab-content-item::before {
  content: "•";
  color: var(--accent);
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 720px) {
  .section-title {
    font-size: 1.953em;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tab {
    flex: 1 0 50%;
    text-align: center;
  }
}
