footer {
  padding: 2em 1em;
  background: var(--background-secondary);
  color: var(--text-primary);
  text-align: center;
}

h4 {
  padding-bottom: 0.5rem;
}

.three-section-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 2em 1em;
}

.section {
  flex: 1;
  padding: 1em;
  border-radius: 8px;
}

.policies a {
  color: var(--text-primary);
}

.policies a:hover {
  text-decoration: underline;
  color: var(--accent);
  text-decoration: none;
}

.copyright {
  font-size: medium;
}

@media (max-width: 768px) {
  .three-section-container {
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 100%;
    margin-bottom: 1em;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}
