/* General styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0;
    padding: 0 1em;
    background: transparent; /* Initial background */
    box-shadow: 0 2px 8px rgba(var(--gray), 5%);
    transition: background-color 0.3s ease;
}

header.scrolled {
    background: var(--black); /* Background when scrolled */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.internal-links {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto; /* Pushes the links to the right of the logo */
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem; /* Aligns the menu icon to the right */
}

.menu-icon span {
    background-color: var(--accent);
    height: 3px;
    width: 25px;
    margin: 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a {
    padding: 1em 0.5em;
    color: var(--accent);
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below the link */
    left: 0;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(var(--gray), 5%);
    z-index: 1;
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 0.5em 0; /* Vertical padding for the dropdown content */
    overflow: hidden; /* Prevent hover effects from exceeding dropdown bounds */
}

.dropdown-content a {
    padding: 0.5em 1em;
    display: block;
    color: var(--accent);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--gray);
    color: white;
}

/* Mobile Styles - Change the breakpoint here */
@media (max-width: 1024px) {
    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        /* background-color: black; */
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(var(--gray), 5%);
    }

    .menu-links.open {
        margin-top: 1.5rem;
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .dropdown-content {
        position: relative;
        top: 0;
        width: auto;
        min-width: 100%;
    }
}

@media (min-width: 1024px) {
    /* Desktop dropdown on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Dropdown toggle for mobile */
.dropdown-content.open {
    display: flex;
    flex-direction: column;
}
