.social-links {
    display: none;
    justify-content: center;
    gap: 1rem;
  }

  .social-links,
  .social-links a {
		display: flex;
  }

  .social-link:hover {
    filter: invert(28%) sepia(80%) saturate(1960%) hue-rotate(167deg) brightness(97%) contrast(100%);
  }