.social-links {
    display: none;
    justify-content: center;
    gap: 1rem;
  }

  .social-links,
  .social-links a {
		display: flex;
  }

  .social-link:hover {
    filter: var(--accent-filter);
  }