---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy Policy"
	description="You will find Vortex Linux's Privacy Policy here."
	pubDate={new Date('August 15 2024')}
>

<h3>Scope of This Notice</h3>
<p>
    This Privacy Policy describes Vortex Linux Org’s privacy practices and provides information about the choices you have regarding the ways in which information collected by Vortex Linux Org is used and disclosed.
</p>

<h3>Our Commitment to Privacy</h3>
<p>
    Your privacy is important to us. To better protect your privacy and to comply with various laws and regulations, we have provided this policy explaining our information practices and the choices you can make about the way your personal information is collected, used, and disclosed. To make this policy easy to find, we have made it available on our homepage and at many of the locations where personally identifiable information may be requested.
</p>


<h3>The Information We Collect</h3>
<p>
    This Privacy Policy applies to all information collected by or submitted to us, including personal data. “Personal data” is data that can be used to identify an individual.
</p>
<p>
    We collect personal data when:
</p>
<ul>
    <li>
        You sign up for an account on any of our services.
    </li>
    <li>
        You subscribe to any of our media, such as newsletters, YouTube videos, etc.
    </li>
    <li>
        You participate in forums, blogs, or other interactive features.
    </li>
    <li>
        You register for events or webinars.
    </li>
    <li>
        You submit feedback or contact us via email.
    </li>
    <li>
        You make a purchase or donation.
    </li>
    <li>
        You contribute to VortexLinux.
    </li>
</ul>
<p>
    This policy applies to all of our general operations. We are not liable for any actions taken by our users or developers unless they result in a public issue caused by our mistakes.
</p>

<h3>Types of Information Collected</h3>
<p>
    The information you provide to us may include (depending on the circumstances):
</p>
<ul>
    <li>
        Identity and contact data: Names, addresses, email addresses, phone numbers, or your signature.
    </li>
    <li>
        Account profile data: Username/display name, password, user preferences.
    </li>
    <li>
        Financial data: Payment details, including billing addresses, credit/debit card details, and bank account details.
    </li>
    <li>
        Skills and experience data: If you want to contribute, we may collect information about your skill set, previous experience, and other relevant information.
    </li>
    <li>
        Visual and audio information: Photos, video footage, or sound recordings.
    </li>
    <li>
        Sensitive information: Information about your race or ethnicity, religious beliefs, sexual orientation, health, and disabilities.
    </li>
    <li>
        Other information: Any additional information that you choose to share with us via correspondence, surveys, or social media accounts.
    </li>
</ul>

<h3>Special Categories of Data</h3>
<p>
    Special categories of particularly sensitive personal information require higher levels of protection. These include details about your race or ethnicity, religious or philosophical beliefs, sexual orientation, health, and criminal convictions. We process special categories of personal information only in limited circumstances, such as with your explicit written consent or where necessary for legal obligations.
</p>

<h3>Using (Processing) Your Personal Data</h3>
<p>We use the personal data you provide to:</p>
<ul>
    <li>
        Provide access to our services and tools in an optimal manner.
    </li>
    <li>
        Process and fulfill your transactions or donations.
    </li>
    <li>
        Monitor account usage to prevent violations of our policies.
    </li>
    <li>
        Identify and authenticate you.
    </li>
    <li>
        Enable communication with other users.
    </li>
    <li>
        Manage our relationship with you, including notifying you about changes to our terms or policies.
    </li>
    <li>
        Conduct business and manage relationships with you or your employer.
    </li>
    <li>
        Administer scholarship and funding programs.
    </li>
    <li>
        Process job applications and recruitment activities.
    </li>
    <li>
        Carry out marketing and inform you about our news, events, and services.
    </li>
    <li>
        Conduct research and produce statistical reports.
    </li>
    <li>
        Answer your questions and provide customer support.
    </li>
    <li>
        Maintain our servers and ensure security.
    </li>
    <li>
        Interact with users on social media platforms.
    </li>
    <li>
        Protect against fraudulent, unauthorized, or illegal activity.
    </li>
</ul>

<h3>Sharing Your Personal Data</h3>
<p>Unless you consent, we will not process or share your personal data except as described below:</p>
<ul>
    <li>
        With service providers who assist us with our business functions.
    </li>
    <li>
        For research activities and producing statistical reports.
    </li>
    <li>
        With regulators and governmental bodies where required by law.
    </li>
    <li>
        With other third parties, including legal, professional, or other advisors.
    </li>
</ul>
    
<h3>Receiving E-Mail</h3>
<p>
    We may send you emails to authorize you for various activities, inform you of important events, send occasional solicitations, or respond to your questions. For your protection, we may contact you in case of any issues that require your immediate attention.
</p>

<h3>Public Forums Reminder</h3>
<p>
    We often provide forums, blogs, and other interactive features that are accessible to the public. Please remember that any information disclosed in these areas becomes public information.
</p>


<h3>Contact Information</h3>
<p>
    For questions about this Privacy Policy or our privacy practices, please DM any of the moderators from our <a href="https://discord.gg/MsF24qUA5y">Discord server</a>.
</p>



    </p>
</Layout>
