---
import { attributions } from '../content/attributions.js';
import '../styles/Attributions.css';
---
<section class="attribution-section">
    <h3 class="attribution-title">Attribution List</h3>
    <ul class="attribution-list">
        {attributions.map((item) => (
        <li>
            <a href={item.url} target="_blank" rel="noopener noreferrer">{item.name}</a>
        </li>
        ))}
    </ul>
</section>
