---
import { attributions } from '../content/attributions.js';
---
<head>
    <link rel="stylesheet" href="/src/styles/Attributions.css">
</head>
<section class="attribution-section">
    <h3 class="attribution-title">Attribution List</h3>
    <ul class="attribution-list">
        {attributions.map((item) => (
        <li>
            <a href={item.url} target="_blank" rel="noopener noreferrer">{item.name}</a>
        </li>
        ))}
    </ul>
</section>
