---
import '../styles/CallToAction.css';
---

<section class="cta-section">
    <div class="cta-content">
        <h2>Are you ready?</h2>
        <div class="cta-buttons">
            <a href="/download" class="cta-button download-button">Download</a>
            <a href="/blog/get-involved" class="cta-button involved-button">Get Involved</a>
        </div>
    </div>
</section>
