---
import { communityLinks } from "../content/data/community-links";
import "../styles/IconLinks.css";
import { Icon } from "astro-icon/components";
---

<div class="social-links">
  {
    communityLinks.map((link) => {
      const iconName = link.icon || "default-icon"; // Replace "default-icon" with a valid default icon name
      return (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label={link.name}
        >
          <Icon name={iconName} />
        </a>
      );
    })
  }
</div>
