---
import { socialLinks } from '../content/community-links.js';
---

<div class="social-links">
  {socialLinks.map((link) => (
    <a href={link.url} target="_blank" rel="noopener noreferrer">
      <span class="sr-only">{link.srText}</span>
      <img class="social-link" src={link.svgPath} alt={link.srText} height={32} width={32}/>
    </a>
  ))}
</div>

<style>
  .social-links {
    display: none;
    justify-content: center;
    gap: 1rem;
  }

  .social-links,
  .social-links a {
		display: flex;
  }

  .social-link:hover {
    filter: invert(28%) sepia(80%) saturate(1960%) hue-rotate(167deg) brightness(97%) contrast(100%);
  }
</style>
