---
import CommunityLinks from "./CommunityLinks.astro";
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---
<head>
	<link rel="stylesheet" href="/src/styles/Footer.css">
</head>
<footer>
	<div class="three-section-container">
		<div class="section policies">
		  	<h4>Policies</h4>
		  	<a href="/privacy-policy">Privacy Policy</a><br>
			<a href="/code-of-conduct">Code of Conduct</a><br>
			<a href="/attribution">Attributions</a><br>
		</div>
		<div class="section social-section">
		  	<h4>Social</h4>
		  	<SocialLinks />
		</div>
		<div class="section community-section">
			<h4>Get Involved</h4>
			<CommunityLinks />
		</div>
	  </div>	  
	<div class="copyright">
		<p>&copy; {today.getFullYear()} Vortex Linux Org. All rights reserved.</p>
	</div>
</footer>
