---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Vortex Linux Org. All rights reserved.
	<SocialLinks />
	<div class="policies">
		<a href="/privacy-policy">Privacy Policy</a>
		<a href="/code-of-conduct">Code of Conduct</a>
		<a href="/attribution">Attributions</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: black;
		color: rgb(var(--accent));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--accent));
	}
	.social-links a:hover {
		color: rgb(var(--accent-dark));
	}

	/* Policies section styling */
	.policies {
		margin-top: 1em;
		display: flex;
		justify-content: center;
		gap: 1.5em; /* Spacing between links */
	}

	.policies a {
		color: rgb(var(--accent));
		text-decoration: none;
		font-size: 0.9rem;
	}

	.policies a:hover {
		text-decoration: underline; /* Add underline on hover */
		color: rgb(var(--accent-dark));
	}
</style>
