---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/Header.css';
---
<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/" class="logo">
				<img src="/favicon.svg" alt="Logo" width="75" height="75"/>
				<span style="font-size: 2rem; font-weight: bold;"> {SITE_TITLE}</span>
			</HeaderLink>
			<div class="menu-links">
				<HeaderLink href="/download">Download</HeaderLink>
				<HeaderLink href="/blog">News</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
				<HeaderLink href="/blog/get-involved">Get Involved</HeaderLink>
			</div>
		</div>
		<div class="menu-icon" id="menu-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</nav>
</header>

<script>
	// @ts-nocheck
	document.addEventListener('DOMContentLoaded', function () {
		const menuButton = document.getElementById('menu-button');
		const menuLinks = document.querySelector('.menu-links');

		menuButton.addEventListener('click', function () {
			menuLinks.classList.toggle('open');
		});
	});
</script>