---
import SocialLinks from "./SocialLinks.astro";
import "../styles/Hero.css";
---

<section class="hero">
  <div class="hero-content">
    <h1>
      <span class="highlight">Vortex Linux</span> v0.1 Coming Soon
    </h1>
    <p class="subtitle">The Secure, Immutable OS that Empowers Every User.</p>
    <a href="/download" class="download-btn">Download</a>
    <div class="social-links">
      <span>Follow Us :</span>
      <SocialLinks />
    </div>
  </div>
</section>
