---
import SocialLinks from './SocialLinks.astro';
---
<head>
	<link rel="stylesheet" href="/src/styles/Hero.css">
</head>
<section class="hero-section">
    <div class="hero-content">
        <span class="hero-title">Vortex Linux v0.1 Coming Soon</span>
        <p class="hero-subtitle">The Secure, Immutable OS that Empowers Every User</p>
        <a href="/download" class="hero-button">Download Now</a>
        <SocialLinks/>
    </div>
</section>
