---
import { keyFeaturesData } from '../content/keyFeaturesData';
---

<h2>Key Features</h2>
<ul>
	{keyFeaturesData.map(feature => (
		<li>
			<b>{feature.title}:</b> {feature.description}
		</li>
	))}
</ul>
