---
import { socialLinks } from "../content/data/social-links";
import "../styles/IconLinks.css";
import { Icon } from "astro-icon/components";
---

<div class="social-links">
  {
    socialLinks.map((link) => (
      <a
        href={link.href}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
        aria-label={link.alt}
      >
        <Icon name={link.name} />
      </a>
    ))
  }
</div>
