---
import { socialLinks } from '../content/data/social-links';
import '../styles/IconLinks.css';
---
<div class="social-links">
  {socialLinks.map((link) => (
    <a href={link.url} target="_blank" rel="noopener noreferrer">
      <span class="sr-only">{link.srText}</span>
      <img class="social-link" src={link.svgPath} alt={link.srText} height={32} width={32}/>
    </a>
  ))}
</div>
